@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url(https://fonts.googleapis.com/css?family=Croissant+One:regular); */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway:wght@200&display=swap');
body {
  width: 95vw;
  min-height: 100vh;
  height: 100vh;
  background: #020010;
  /* font-family: "Croissant One", cursive; */
  font-family: 'Playfair Display', serif;
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

body,
html {
  scroll-behavior: smooth;
}
